<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./logs"/>
    <!-- 定义日志格式  -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%-30.30logger{30}] %msg%n"/>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--增加日志匹配处理-->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!--匹配处理器-->
            <evaluator>
                <!-- 处理模式，默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <!-- 存在某个字符串则匹配成功 -->
                <expression>return message.contains("broken pipe");</expression>
                <!-- <expression>return message.contains("broken pipe")
                    || message.contains("断开的管道") ;</expression> -->
            </evaluator>
            <!--匹配则停止执行日志输出-->
            <OnMatch>DENY</OnMatch>
            <!--不匹配则往下执行-->
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--增加日志匹配处理-->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <!--匹配处理器-->
            <evaluator>
                <!-- 处理模式，默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <!-- 存在某个字符串则匹配成功 -->
                <expression>return message.contains("broken pipe");</expression>
                <!-- <expression>return message.contains("broken pipe")
                    || message.contains("断开的管道") ;</expression> -->
            </evaluator>
            <!--匹配则停止执行日志输出-->
            <OnMatch>DENY</OnMatch>
            <!--不匹配则往下执行-->
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/log_%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置编码为UTF-8 -->
        </encoder>
        <!--日志文件最大的大小-->
        <!-- triggeringPolicy 会和 TimeBasedRollingPolicy 冲突，导致每天生成日志文件不生效 -->
<!--         <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy> -->
    </appender>

    <!-- 日志输出级别 -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.yz" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>